<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuheng.mapper.WorkcontextMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jiuheng.entity.Workcontext">
        <id column="cid" property="cid" />
        <result column="workContext" property="workContext" />
        <result column="startTime" property="startTime" />
        <result column="endTime" property="endTime" />
        <result column="workNums" property="workNums" />
        <result column="workDays" property="workDays" />
        <result column="sid" property="sid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cid, workContext, startTime, endTime, workNums, workDays, sid
    </sql>

</mapper>
